<main class="card" id="top-about">
    <header>
      <h1 id="top-title">About</h1>
      <img class="pomo" src="assets/tomato.png" alt="tomato image" />
    </header>
    <hr>
   <p id="disc">This app is made with Angular 12, Firebase and much love♡, to help you be more focus and productive.<br>
        PS: We take care of your beautiful eyes with our dark mode.</p>
  </main>

<main class="card" id="bottom-about">
    <header>
      <h1 id="top-title">Nawfel Sekrafi</h1>
    </header>
    <hr />
    <div id="header-images">
        <img id="avatar" src="assets/nawfel-orange-light.jpg" alt="">
        <div id="contact-icons">
            <a href="tel:+21653768412" ><img class="contact" src="assets/phone.png" alt=""></a>
            <a href="https://www.linkedin.com/in/nawfel-sekrafi-874167172/" target="_blank"><img class="contact" src="assets/linkedin.png" alt=""></a>
            <a href="https://github.com/nawfelsekrafi" target="_blank"><img class="contact" src="assets/git.png" alt=""></a>
            <a href="https://doc-0k-80-docs.googleusercontent.com/docs/securesc/4o2iec4q36qqhpu4l9akda1divt403mv/ka5b3j565nml37am0ktfu6haos58d7ru/1635340275000/00510072891964138568/00510072891964138568/1bVy4XX0pdDs2MsKQO140W9y-MVjCH5Oh?e=download&authuser=0" download><img class="contact" src="https://img.icons8.com/fluency/48/000000/parse-from-clipboard.png"/></a>
            
        </div>

        <p id="guide" >Hi, I 'am Nawfel, a fresh graduate student with bachelor
            degree in computer science from the faculty of sciences of
            Gabes-Tunisia 2021-, I 'am a developer, a long life learner, problem solving
            enthusiastic and a big brother.
         </p>
    </div> 
  </main>
  <h1 id="bottom-title">
    Pomodoro
    <img class="pomo" src="assets/tomato.png" alt="tomato image" />
  </h1>
  
  