<main class="card" id="top-about">
    <header>
      <h1 id="top-title">About</h1>
      <img class="pomo" src="assets/tomato.png" alt="tomato image" />
    </header>
    <hr>
   <p id="disc">This app is made with Angular 12, Firebase and much love♡, to help you be more focus and productive.<br>
        PS: We take care of your beautiful eyes with our dark mode.</p>
  </main>

<main class="card" id="bottom-about">
    <header>
      <h1 id="top-title">Nawfel Sekrafi</h1>
    </header>
    <hr />
    <div id="header-images">
        <img id="avatar" src="assets/nawfel-orange-light.jpg" alt="">
        <div id="contact-icons">
            <a href="tel:+21653768412" ><img class="contact" src="assets/phone.png" alt=""></a>
            <a href="https://www.linkedin.com/in/nawfel-sekrafi-874167172/" target="_blank"><img class="contact" src="assets/linkedin.png" alt=""></a>
            <a href="https://github.com/nawfelsekrafi" target="_blank"><img class="contact" src="assets/git.png" alt=""></a>
            <a href="https://cdn.fbsbx.com/v/t59.2708-21/245469433_171213241847180_5659693290155848433_n.pdf/nawfel2.pdf?_nc_cat=108&ccb=1-5&_nc_sid=0cab14&_nc_ohc=P9qC3g5IedgAX83r4cn&_nc_ht=cdn.fbsbx.com&oh=270ad7f1b148d0aeb1f8f5e47aeb6901&oe=616A6C6F&dl=1" download><img class="contact" src="https://img.icons8.com/fluency/48/000000/parse-from-clipboard.png"/></a>
            
        </div>

        <p id="guide" >Hi, I 'am Nawfel, a fresh graduate student with bachelor
            degree in computer science from the faculty of sciences of
            Gabes-Tunisia 2021-, I 'am a developer, a long life learner, problem solving
            enthusiastic and a big brother.
         </p>
    </div> 
  </main>
  <h1 id="bottom-title">
    Pomoguru
    <img class="pomo" src="assets/tomato.png" alt="tomato image" />
  </h1>
  
  