<main class="card" id="top-about">
    <header>
      <img id="profile-photo" src="assets/girl.jpg" alt="">
      <p id="name"><b>إسراء أبو سمرا </b> </p>
    </header>
    <hr>
   <p id="disc"> change sound when working-session finished: </p>
   <ul>
    <li><img src="https://img.icons8.com/fluency-systems-filled/48/000000/musical.png"/></li>
    <li><img src="https://img.icons8.com/fluency-systems-filled/48/000000/musical.png"/></li>
    <li><img src="https://img.icons8.com/fluency-systems-filled/48/000000/musical.png"/></li>
   </ul>
   <button id="delete" >Delete Account</button>

  </main>
