<main class="card" id="top-about" >
    <header>
      <img id="profile-photo" src={{photoUrl}}  alt="">
      <p id="name"><b> {{name}} </b> </p>
    </header>
    <hr>
   <p id="disc"> change sound when working-session finished: </p>
   <ul>
    <li (click) = "changeSound(1)"><img id="1" src="https://img.icons8.com/fluency-systems-filled/48/000000/musical.png"/></li>
    <li (click) = "changeSound(2)"><img id="2"  src="https://img.icons8.com/fluency-systems-filled/48/000000/musical.png"/></li>
    <li (click) = "changeSound(3)"><img id="3" src="https://img.icons8.com/fluency-systems-filled/48/000000/musical.png"/></li>
   </ul>
   <button id="delete" (click)="deleteUser()">Delete Account</button>

  </main>

  <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="close()">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
