body {
  font-family: Helvetica, Arial, sans-serif;
  height: 200vh;
}

#nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 0px;
  background-color: var(--nav-background);
  display: flex;
  justify-content: center;
}

img {
  margin: 0px 0px 0px 53px;
  width: auto;
  height: 43px;
  cursor: pointer;
  transition: transform 0.5s;
}

img:hover {
  transform: scale(1.3);
}


