<header id="nav-bar">
    <div>
    <img  (click)="dash()"  src="https://img.icons8.com/fluency/144/000000/home.png"/>
    <img  (click)="projects()"  src="https://img.icons8.com/external-itim2101-flat-itim2101/64/000000/external-clipboard-project-management-itim2101-flat-itim2101.png" />
    <img  (click)="timer()"  src="https://img.icons8.com/external-photo3ideastudio-flat-photo3ideastudio/64/000000/external-clock-sleep-photo3ideastudio-flat-photo3ideastudio.png" />
    <img  (click)="settings()"  src="https://img.icons8.com/external-wanicon-flat-wanicon/64/000000/external-setting-online-security-wanicon-flat-wanicon.png" />
    <img  (click)="about()"  src="https://img.icons8.com/external-wanicon-flat-wanicon/64/000000/external-alert-online-security-wanicon-flat-wanicon.png"/>
    </div>  
</header>