<form #f="ngForm" (ngSubmit)="register(f)" id="create-account-card">
  <h1>Complete your account setup</h1>
  <hr />
  <p>{{ email }}</p>

  <input #firstName="ngModel" ngModel type="text" name="firstname" class="fas" placeholder="🙎‍♂️ First name" /><br/>

  <input #lastName="ngModel" ngModel type="text" name="lastname" class="fas" placeholder="🙎‍♂️ Last name" />
  <br />
  <input #Password="ngModel" ngModel type="password" name="password" class="fas" placeholder="🔒 Create a password" />
  <br />
  <div id="captcha">
    <ngx-recaptcha2 #captchaElem="ngModel" ngModel name="captcha"  [siteKey]="siteKey"></ngx-recaptcha2>
  </div>

  <button type="submit" [disabled]="f.invalid" class="sign-button" id="continue-w-email">
    Continue with Email
  </button>
</form>