body {
  font-family: Helvetica, Arial, sans-serif;
  height: 200vh;
}

section {
  padding: 0px;
  margin: 0px;
  width: 100%;
  position: relative;
  z-index: -1;
}

#welcome-section {
  height: 100vh;
  color: #fff;
  display: flex;
  background-image: url("../../../assets/wave-haikei.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

#focus-quote {
  color: #ffc34d;
  padding-top: 141px;
  font-weight: 400;
  font-family: inherit;
  font-size: 30px;
}

.illustration {
  padding-top: 141px;
  padding-right: 3%;
  max-width: 40%;
  max-height: 40%;
  display: block;
  position: absolute;
  right: 0;
}


pre {
  margin: 0px;
}

footer {
    text-align: center;
}

