#sign-up-card {
    border-radius: 10px;
    margin: auto;
    text-align: center;
    margin-top: 180px;
    background-color: var(--background-card);
    padding: 20px 20px 30px 20px;
    border: 1px solid #000;
} 

h1 {
    font-size: 1.7em;
}

#continue-w-email {
    margin-bottom: 0px;
}

#continue-w-email:hover {
    background-color: #ff5959;
  }

#continue-w-google {
    background-color: rgb(66, 134, 245);
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    border-radius: 28px;
}

#continue-w-apple {
    border: 1px solid #000;
    color: #000;
    background-color: rgb(255,255,255);
}

#sign-up {
    border: 1px solid #ff5959;
    color:  #ff5959;
    background-color: rgb(255,255,255);
}

hr {
    margin: 0% 6% 2% 6%;
    border: none;
    height: 0.5px;
   background-color: var(--svg-color);
}

#apple-icon {
    width: 12px;
}

#google-icon {
    width: 14px;
    height: auto;
    border-radius: 100%;
    background-color: #fff;
    padding: 15px;
    margin: 0px 0px 0px -41px;;
}

#continue-google-title {
    margin:0px 24px 0px 0px;
}

#new-account::after {
    border: 1px solid #000;
}