#sign-in-email-card {
    border-radius: 10px;
    margin: auto;
    text-align: center;
    margin-top: 180px;
    background-color: var(--background-card);
    padding: 20px 20px 30px 20px;
    border: 1px solid #000;
} 

h1 {
    font-size: 1.7em;
}

#login:hover {
    background-color: #ff5959;
  }


hr {
    margin: 0% 6% 2% 6%;
    border: none;
    height: 0.5px;
    background-color: var(--svg-color);
}

#not-you {
    border: none;
    color: #ff5959;
    background-color: rgb(255,255,255);
}

p {
    margin: -8px;
}

#captcha {
    margin: 0% 27.5% 3% 27.5%;
}

#showPass, #forgot-password{
    cursor: pointer;
}

#container {
    display: flex;
    justify-content: center;;
}

#forgot-password {
    color: #ff5959;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 0px 0px 132px;
}