<div id="sign-in-email-card">
    <form #f="ngForm" (ngSubmit)="send(f)" >
  
      <h1>Update your password</h1>
      <hr />
      <p>Enter your email address and select Send Email.</p>
      <br />
      <input  #Email="ngModel" ngModel id="email"  name="email" placeholder="Enter your email" required />
      <br />
      <div id="captcha">
          <ngx-recaptcha2 #captchaElem="ngModel" ngModel name="captcha"  [siteKey]="siteKey"></ngx-recaptcha2>
        </div>
      <button type="submit" [disabled]="f.invalid" class="sign-button" id="login">Send Email
      </button> <br>
    </form>
  </div>
  
  