<section id="welcome-section">
  <pre id="focus-quote">
            FOCUSING 
            IS ABOUT 
            SAYING NO.

            -Steve Jobs
  </pre>
  <div>
    <img id="illustration" src="https://lh3.googleusercontent.com/M53C-f2te0LgJRh_5hnHS4L_GHP6cEhnlAJC6U0nX9739Vz7-_NAFAvxR7UZFaFi5W0_oas_G9k4sjemk4bjPYQq3EbfjIcsn_qC96Y71QQRmEfUnNBqdMDfLZPykCjyi3wcx1_8-MP9uum46T4pZ3S_SMArckWNyJjT_MzGDgrirnWF_mKZTElFQYazsOyfYqpa5a1bwItvlbT0pY-M1hm3h2ZYlIx7sIGYYydV43Q7wjOLmm8H7kcmQ2Pf3_OGHHONJ95UvJhcJ8cobdg0CogKrkXMP4K5qYD1iVasyvPUA6yXb4WVfyO9HY__ORh9kRRGA7fFnv9CwNqytAFPN-Sn_oUgjUy_SWegYlNYD3MSEeMYytKifoo4xgoOG-eapIRR_IJX-8RRxZJyRcA-0kWcAPjtS30x7M9cnZGO5maO97C4aKN512V3yOjVyOtiPk-EnM33l65hNIuQdY9LOy2Didlay-LJgDGy9XnujNqjgiQ2Xjz7ukOTm3hsz8ktqQonMPMLAq_nCsBETg3hemTctMbVXmPFDvIHiLQa6K6Kyunp92VyCcHnL8mNdyYBscZWYeYcyKyGEs_k2OaSaxH9K04H9TSMdnD4nMiCES9cOBMUz7HdgEaa3nNbzSvxcHnZacU-3nlcFujrPz-IztprdNK9HEk57pqMZ4-AoLXfrZxhJn_HELf_7lpDNtoHKPJu3FPHb_0hdvuHGKEZM18=s903-no?authuser=0"  alt="">
    
  </div>
</section>
<section id="section2">
  <img id="illustration" src="https://lh3.googleusercontent.com/ZCj17JuSDRaag0hdYnDAWfCZXP2pWc3fanjVcqlzqgKB34XOvBXQIfydT6qAoOL3TuxhUZ7mfwuShSydzs8MBUoU_BsF7FvicksWLqK0AAKSetA3uGeY9oTM9vKrqb_kxf058EZdQNe9ZB-An4Gc46En6gjsyU29c5MVAf_KitRzSMvgz7ROcsn049DU92fPa46ljea5WydVOmyiFAdNkVrHhjSqUoZ9XYJ15YPoDujwEatrdrV9wZyVjIV5XfhfG3Bk5ovtz8-elDLtDhJYkG0FMPTayF4nsIYxjL-Yj6e-ibgJ4ZVfVuKALB6ikKg8YJO8rLrJCapuUAeRFSSMCj3LVVkRT3S0Yfsl82Q70jHyohF-NwegZ-xeu4SXBnhZhi0YR3p-slr3EinGjAZ37PpF_uKEnvJeBB1U4AVUHxShVw3qRzCf63kOuaylvWeVl9Y14qc5BuyIHIjfb8R4FXXPdaRfYpRmKNPUrPJc910z8wlsoS-6RDwczGzkwNSY3RkZoRsCNi8157Mm1yBy2w35dh37PHcTTQ9sraCiE5w5SDZWNR_C0kcXyoMVsYyTk2HLogQ4dYUwDeDvd0YM8Nj-MWDfnrxW5_n2N3iLwLX8matlAnwsS-vvHXcVVydAKefahH6mmqKkcd_s-czbOrKOJkWysq8dMrttGwgwujoLZlxVm6NvRb7pv-NhlfU6IVIqt9BOlBsx-WdUExwVaeU=s903-no?authuser=0"  alt="">
</section>
