@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

:root {
    --background-root: rgb(244,244,244);
    --background-card: rgb(255,255,255);
    --color-card: rgb(38,38,38);
    --button-color: rgb(87,87,87);
    --svg-color: rgb(217,217,217);
    --button-hover: rgb(244,244,244);
    --button-border: rgb(217,217,217);
    --hr: rgb(217,217,217);
    --guide-color: rgb(87,87,87);
    --nav-background: rgb(255, 195, 77, 0.8);
}

[data-theme='dark'] {
    
    --background-root: rgb(25,25,25);
    --background-card: rgb(38,38,38);
    --color-card: rgb(245,245,245);
    --button-color: rgb(191,191,191);
    --svg-color: rgb(191,191,191);
    --button-border: rgb(89,89,89);
    --hr: rgb(53,53,53);
    --guide-color: rgb(172,172,172);
    --nav-background:  rgb(38,38,38);
}

body{
    background-color: var(--background-root);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding:0px;
    margin: 0px;
}

.card {
    width: 450px;
    background-color: var(--background-card);
    color: var(--color-card);
    margin: 16% auto 0% auto;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.2);
}

header{
    display: flex;
}

.btn ,#add, #sub {
    font-size: 12px;
    border: 1px solid;
    width: 61px;
    border-color: var(--button-border);
    border-radius: 7px;
    background-color: var(--background-card);
    font-weight: normal;
    color: var(--button-color);
    padding: 5px 11px;
    margin: 0px 2px;
}

.pomo {
    height: 20px;
    padding-top: 33px;
    padding-left: 4px;
}

svg{
    fill: var(--svg-color);
}

svg:hover , .btn:hover{
    cursor: pointer;
}

#cancel {
    width: 20px;
    float: right;
    padding: 31px 0px 0px 255px;
}

#settings {
    margin: 0% 6%;
    display: flex;
    justify-content: space-between;
}

#setting, #info {
    padding: 5px 0px 0px 0px;
}


hr {
    margin: 0% 6% 2% 6%;
    border: none;
    height: 0.5px;
    background-color: var(--hr);
}

#cmd {
    padding: 15px 0px 40px 0px;
    margin: 0px 0px 0px 6px;
}


a {
    text-decoration: none;
}

#bottom-title {
    padding-top: 30px;
    padding-right: 200px;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    color: var(--color-card);
}

#guide {
    display: inline-block;
    padding: 8px 0px 0px 0px;
    margin: 0px;
    font-size: 13px;
    font-weight: normal;
    color: var(--guide-color);
}


.btn:hover {
    background-color: var(--button-hover);
}

#top-title {
    text-align: left;
    padding: 15px 0px 0px 30px;
    font-size: 20px;
    font-weight: 600;
}

#time {
    margin-top: 15px;
    font-size: 48px;
    font-weight: 600;
}

#add, #sub {
    font-size: 23px;
    color: var(--svg-color);
    padding: 2px 0px;
    width: 38px;
    cursor: pointer;
}

#sub {
    float: left;
    margin: -11% 0% 0% 18%;
    padding-bottom: 0.5%;
}

#add {
    float: right;
    margin: -11% 18% 0% 0%;
    padding-bottom: 0.5%;
}


.warning {
    padding: 0px;
    margin: 0px;
    color: rgb(238, 167, 26);
    font-size: 14px;
}


@media only screen and (max-width:646px) {
    * {
        
    }
}