#checkbox {
    height: 0;
    width: 0;
}

.changeLight {
    cursor: pointer;
    position: center;
}

.theme-switch {
    text-align: center;
    margin-top: 110px;
    margin-bottom: -110px;
}

@media only screen and (max-width: 590px) {
    .theme-switch{
      margin-top: 15px;
      margin-bottom: 17px;
    }
  }
  