<app-nav (page)="changePage($event)"></app-nav>

<div class="theme-switch">
  <input (click)="switchTheme($event)" type="checkbox" name="dark" id="checkbox">
  <label for="checkbox" class="changeLight"*ngIf="day == false">☀️</label>
  <label for="checkbox" class="changeLight" *ngIf="day == true">🌙</label>

</div>

<app-dashboard *ngIf="dashboard"></app-dashboard>
<app-projects *ngIf="projects"></app-projects>
<app-timer *ngIf="timer"></app-timer>
<app-setting *ngIf="settings"></app-setting>
<app-about *ngIf="about"></app-about>