<app-nav (page)="changePage($event)"></app-nav>

<div class="theme-switch">
  <input (click)="switchTheme($event)" type="checkbox" name="dark" id="checkbox">
  <label for="checkbox" class="changeLight"*ngIf="day == false">☀️</label>
  <label for="checkbox" class="changeLight" *ngIf="day == true">🌙</label>

</div>

<app-dashboard *ngIf="currentPage == 'dashboard'" ></app-dashboard>
<app-projects *ngIf="currentPage == 'projects'"></app-projects>
<app-timer *ngIf="currentPage == 'timer'"></app-timer>
<app-setting *ngIf="currentPage == 'settings'"></app-setting>
<app-about *ngIf="currentPage == 'about'"></app-about>